Django==5.1.7
crispy-bootstrap4
django-widget-tweaks==1.5.0
django-login-required-middleware==0.9.0
django-filter==25.1
mysqlclient

# Airflow essentiel
apache-airflow==2.9.1
apache-airflow-providers-mysql

# ML pour les prédictions
pandas==2.2.3
scikit-learn
joblib==1.4.0
tensorflow>=2.15.0
keras

# Weather API
pyowm
